<section>
<h1>Components</h1>
<pre>
  <code>
  @Component({
    selector:    'hero-list',
    templateUrl: 'app/hero-list.component.html',
    directives:  [HeroDetailComponent],
    providers:   [HeroService]
  })
  export class HeroesComponent {
    constructor(_service){
      this.heroes = this._service.getHeroes();
    }

    selectHero(hero) {
      this.selectedHero = hero;
    }
  }
  </code>
</pre>
</section>

<section>
    <h1>Components</h1>
    <pre>
      <code>
      <h2>Hero List</h2>
      <p><i>Pick a hero from the list</i></p>
      &lt;div *ngFor="#hero of heroes" (click)="selectHero(hero)"&gt;
      {{hero.name}}
      </div>
      &lt;hero-detail *ngIf="selectedHero" [hero]="selectedHero"&gt;&lt;/hero-detail&gt;
      </code>
    </pre>
</section>
