<section>
    <h1>Structural directives</h1>
    <p>Built in Angular2 directives that modify the structure of templates</p>
</section>
<section>
    <h1>Structural directives</h1>
    <pre>
        <code>
            <div>
                &lt;div *ngFor="#value in values"&gt;{{value}}&lt;/div&gt;
            </div>
        </code>
    </pre>
</section>
<section>
    <h1>Structural directives</h1>
    <pre>
        <code>
            <div>
                &lt;div *ngIf="loading"&gt;Loading...&lt;/div&gt;
            </div>
        </code>
    </pre>
</section>
<section>
    <h1>Structural directives</h1>
    <pre>
        <code>
            <div>
                &lt;div [ngSwitch]="value"&gt;
                    &lt;p *ngSwitchWhen="true"&gt;Happy&lt;/p&gt;
                    &lt;p *ngSwitchWhen="false"&gt;Sad&lt;/p&gt;
                    &lt;p *ngSwitchDefault&gt;Unknown&lt;/p&gt;
                </div>
            </div>
        </code>
    </pre>
</section>
